@model Calculator.Models.CalculatorModel



<div class="calculator" data-bind="click: hideNewCommands">
    <p>Calculator</p>

    <div class="answerRow bordered">
        <div class="expression" data-bind="text: cleanExpression"></div>
        <div class="inputLine" data-bind="text: inputLine"></div>
        <div class="memory" data-bind="text: memoryIndicator"></div>
        <div style="clear:both"></div>
    </div>
    <div style="clear:both;height:0px;"></div>

    <div class="vary bordered" style="float:left;width:60%;width:180px;">
        <div class="numbers buttonGroup">
            <button class="clearLast" data-bind="click: clearLast">&#8592;</button>
            <button class="clearEntry" data-bind="click: clearEntry">CE</button>
            <button class="clearAnswer" data-bind="click: clearAnswer">C</button>
            <!-- ko foreach: numbers -->
            <button data-bind="value: val, text: val, click: $parent.addNumber, css: {numberZero: val==0}"></button>
            <!-- /ko -->
            <button data-bind="click: addDecimal">.</button>
        </div>

        <div class="commands buttonGroup">
            <!-- ko foreach: optionalCommands -->
            <button data-bind="visible: selected, value: command, text: command, click: $parent.addCommand, disable: $parent.hasNumbers"></button>
            <!-- /ko -->
            <br />
            <a href="#" class="showNewCommands" data-bind="click: showNewCommands">Customize</a>
        </div>
    </div>
    <div class="constant bordered" style="float:right;width:120px;">
        <div class="commands buttonGroup">
            <!-- ko foreach: memoryCommands -->
            <button data-bind="text: command, click: $parent.memoryCommand"></button>
            <!-- /ko -->
            <!-- ko foreach: commands -->
            <button data-bind="visible: selected, value: command, html: command, click: $parent.addCommand, disable: $parent.hasNumbers"></button>
            <!-- /ko -->
            <button data-bind="click: calculate" style="width: 108px;font-weight:bold">=</button>
        </div>
    </div>
    <div style="clear:both"></div>

    <div class="newCommands buttonGroup bordered" data-bind="visible:showingNewCommands" style="display:none;">
        <p>Select Commands</p>
        <div data-bind="foreach: optionalCommands" class="commands">

            <button class="selectCommand" data-bind="visible: optional, value: command, text: command, css:{selected: selected}, click: $parent.selectCommand"></button>
        </div>

        <a class="closeButton" href="#" data-bind="click: function() {showingNewCommands(false)}">Done</a>
        <div style="clear:both"></div>
    </div>

</div>

